  .FavSection {
    width: 100%;
    margin-top: 15rem;
    margin-bottom: 2rem;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    
   gap:2.2rem;   
  }
  .cards {
    width: 250px;
    padding: 20px;
    margin: 1rem;
    border-color: #8724D4;
    border-width: 0.2rem;
    border-radius: 1rem;
    border-style:solid;
  }
  .cards:hover {
    box-shadow: 0 10px 10px 10px rbga(0, 0, 0, 0.1);
    
  }
  .image_box img {
    width: 150px;
    height: 200px;
  }
  
  .image_box img {
    width: 150px;
    height: 200px;
  }
  .details p:nth-child(1) {
    font-weight: bold;
  }
  .details p:nth-child(2) {
    color: grey;
    font-size: 0.8rem;
  }
  .details p:nth-child(3) {
    font-weight: bolx;
    color: grey;
  }
  .details button {
    padding: 15px 10px;
    border: none;
    font-weight: bold;
    color: aliceblue;
    background-color:  #8724D4;
    outline: none;
    border-radius: 1rem;
    cursor: pointer;
  }
