#cities {
  background-color: #fff;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:any-link:active {
  color: ActiveText;
}
*|*:any-link:not(svg|a) {
  text-decoration: underline;
}
:focus-visible {
  outline: 1px dotted;
}
:visited {
  color: VisitedText;
}
:any-link {
  cursor: pointer;
}
article, aside, details, div, dt, figcaption, footer, form, header, hgroup, html, main, nav, section, summary {
  display: block;
}
address, article, aside, blockquote, body, caption, center, col, colgroup, dd, dir, div, dl, dt, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, legend, li, listing, main, marquee, menu, nav, noframes, ol, p, plaintext, pre, section, summary, table, tbody, td, tfoot, th, thead, tr, ul, xmp {
  unicode-bidi: isolate;
}
body, .label, .button, .more-criteria {
  font-family: "ABeeZee","Open Sans",sans-serif;
}
body {
  font-family: "ABeeZee","Open Sans",sans-serif;
  font-size: 16px;
  color: #282828;
}
body {
  color: #222;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  cursor: auto;
}
html, body {
  font-size: 100%;
}
html {
  font-size: 100%;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
}
:root {
  color: CanvasText;
}


/*
.imageBackground{
  background-image: url(images/img17.jpg);
  background-position: center;
} 
*/