#explorebtn{

    padding:6px;
    color:#ffff;
    background-color: #a562d8;
    border:none;
    border-radius:50%;
    margin-right:5px; 
    width:30px;
    cursor:pointer;
}
#search-form{
    border-radius: 50rem;
    display: inline-block;
    background:#ffffff;
    position: relative;
   
}

.search{
  background: #52cff5;
}

#search-bar{
    width: 350px;
    padding:9px;
    margin:0 10px;
    border-style:hidden;
    border-radius:50rem;
    background:#ffffff;
    text-align: center;
}
