
button {
    border-radius: 10rem;
    padding: 0.8rem 2rem;
    border-radius: 20%;
    border: none;
    color: black;
    font-size: 1.1rem;
    cursor: pointer;
}
.blue {
    background-color: rgb(155, 88, 218);border-radius: 10rem;
}

button:hover{
    background-color: rgb(111, 172, 219);border-radius: 10rem;
}